{{ partial "head.html" . }}

<body>
<div class="main animate__animated animate__fadeInDown">
    {{ partial "nav.html" . }}
    {{ partial "header.html" . }}
    <div class="content">
        <div class="post_page">
            <div class="post animate__animated animate__fadeInDown">
                <div class="post_title post_detail_title">
                    <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
                </div>
                <div class="list_with_title">
                    {{ range (.Site.RegularPages.GroupByDate "2006") }}
                    <h3>{{ .Key }}</h3>

                    <div class="listing">
                        {{ range (where .Pages "Type" "posts") }}
                        <div class="listing_item">
                            <div class="listing_post">
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                <div class="post_time"><span class="date">{{ .Date.Format "01-02" }}</span></div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                <div class="post_footer">
                    {{ with .Params.tags }}
                    <div class="meta">
                        <div class="info">
                                <span class="field tags">
                                    <i class="ri-stack-line"></i>
                                    {{ range . }}
                                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                    {{ end }}
                                </span>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <!-- 评论系统 -->
            {{ if .Site.Params.valine.enable }}
            {{ partial "comments.html" . }}
            {{ else if .Site.Params.utteranc.enable }}
            {{ partial "utterances_comments.html" . }}
            {{ else }}
            <div class="doc_comments">{{ template "_internal/disqus.html" . }}</div>
            {{ end }}
        </div>
    </div>
</div>
<a id="back_to_top" href="#" class="back_to_top"><i class="ri-arrow-up-s-line"></i></a>
{{ partial "footer.html" . }}
{{ partial "js.html" . }}
</body>

</html>
