.hljs {
    display: block;
    overflow-x: auto;
    /*padding: .5em;*/
    color: #000;
    /*background: #f7f7f7;*/
    background: #fff
}

.hljs-subst, .hljs-title {
    font-weight: 400;
    color: #000
}

.hljs-comment, .hljs-quote {
    color: grey;
    font-style: italic
}

.hljs-meta {
    color: olive
}

.hljs-tag {
    background: #efefef
}

.hljs-keyword, .hljs-literal, .hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-selector-tag, .hljs-type {
    font-weight: 700;
    color: navy
}

.hljs-attribute, .hljs-link, .hljs-number, .hljs-regexp {
    font-weight: 700;
    color: #00f
}

.hljs-link, .hljs-number, .hljs-regexp {
    font-weight: 400
}

.hljs-string {
    color: green;
    font-weight: 700
}

.hljs-bullet, .hljs-formula, .hljs-symbol {
    color: #000;
    background: #d0eded;
    font-style: italic
}

.hljs-doctag {
    text-decoration: underline
}

.hljs-template-variable, .hljs-variable {
    color: #660e7a
}

.hljs-addition {
    background: #baeeba
}

.hljs-deletion {
    background: #ffc8bd
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

/*自己加的*/
pre,
code {
    display: block;
    overflow-x: auto;
    color: #000;
    font-size: inherit;
    line-height: normal;
    /*background: #f7f7f7;*/
    background: #fff;
    font-family: "Ubuntu Mono", "monospace", "Ubuntu Condensed", "Source Code Pro", "Microsoft YaHei";
}

ul code,
li code,
p code {
    display: inline-flex;
    font-weight: bolder;
    color: blue;
}

.hljs-ln-line {
    margin-left: 10px;
}

.hljs-ln-numbers {
    /*background-color: #f7f7f7;*/
}

pre code span {
    color: blue;
}


