<!-- valine -->
<div class="doc_comments">
    <div class="comments_block_title">发表评论</div>
    <div id="vcomments"></div>
</div>

<!--https://utteranc.es/-->
<link rel="stylesheet" href="{{ "/css/comments.css" | absURL }}" />

<script src="https://utteranc.es/client.js"
        repo="{{ .Site.Params.utteranc.repo }}"
        issue-term="{{ .Site.Params.utteranc.issueTerm }}"
        theme="{{ .Site.Params.utteranc.theme }}"
        crossorigin="{{ .Site.Params.utteranc.crossorigin }}"
        label="{{ .Site.Params.utteranc.label }}"
        async>
</script>
