
//https://vuepress-theme-hope.gitee.io/v2/zh/config/style.html


//修改页面字体显示样式
body {
  font-weight: 400;
  font-size: 15px;
}

//调整代码字体大小
code {
  //font-size: medium;
  font-weight: 400;
}

//导航栏字体
.vp-nav-links > .nav-item > .nav-link{
  font-weight: 600;
}

.vp-nav-links > .nav-item > .dropdown-wrapper > .dropdown-title > .title {
  font-size: 1em;
  line-height: 1;
  font-weight: 600;
}

.vp-nav-links > .nav-item > .dropdown-wrapper > .dropdown-title > .nav-dropdown > .dropdown-item > .nav-link {
  font-size: 1em;
  line-height: 2.5;
  font-weight: 600;
}


//侧边栏字体大小
.vp-sidebar > .vp-sidebar-links > li > .vp-sidebar-link {
  font-size: 15px;
  line-height: 1;
}

//引用字体的颜色
blockquote {
  color: #1e8449;
}

//主页文章列表去除box-shadow
.vp-article-item {
  box-shadow: unset !important;
}
