
//https://vuepress-theme-hope.gitee.io/v2/zh/config/style.html


//修改页面字体显示样式
body {
  font-weight: 400;
}

//调整首页宽度
.page.blog .blog-page-wrapper .blog-home {
  flex: 1;
  overflow: hidden;
  //使用min-with覆盖原有样式的max-width
  min-width: 70%;
}

//调整代码字体大小
code {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: #cf00ff;
}
